#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
.home-page-container {
  display: flex;
  flex-direction: column; /* Forces vertical stacking */
  width: 100%;
  overflow-x: hidden; /* Prevents side-scrolling */
}