*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
/* 
:root{
  --primaryColor
} */

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

body{
  font-family: sans-serif;
}

header{
  background: url();
}

.leftContent{
  text-align: left;
}