body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.showcase{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden; /*prevents scrollbars if image is huge */
}
.rightContent{
    flex: 1;
    height: 100%;
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.leftContent{
    background-color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.content-wrapper{
    max-width: 500px;
    text-align: center;
}

.leftContent h2{
    font-size: 2.5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-weight: 800;
    color: #1a202c;
}
.leftContent p{
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
    color: #4a5568;

}
.cta-button{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #d9534f;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    padding-bottom: 5px;
}
.cta-button:hover{
    border-bottom: 2px solid #d9534f;
}
.logo{
    height: 200px;
    width: 200px;
    object-position: 0% 100%;
}
body{
    background-color: antiquewhite;
}


@media (max-width: 768px){
    .showcase{
        flex-direction: column-reverse;
        height: auto;
    }

    .image{
        height: 300px;
    }
}